.vertifyPage {
  position: relative;
  .vertifyBox {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: #000;
  }
}

.vertifyText {
  color: #fff;
  cursor: pointer;
}

.flex1 {
  flex: 1;
}

.codeImg {
  width: 160px;
  max-height: 32px;
  margin-left: 10px;
  cursor: pointer;
}
